

.plan-wrapper

	.vfi-guage
		padding-left 0px
		text-align center

	#vfi-guages-group
		.uk-width-1-2,.uk-width-medium-1-2
			margin-top 0px
			padding-left 0px

	.uk-panel-box-primary
		box-shadow: 0px 7px 34px -5px rgba(0,0,0,0.35)
		background-color #F1F6F8

	.btn-plan
		margin-right 10px
