
#deviceHelp
	.uk-offcanvas-bar
		background-color #007c92

		h2,h3,h4
			color #92E2F0
		li
			margin-bottom 10px
			>a
				color #92E2F0
				font-family Arial, "Helvetica Neue", Helvetica, sans-serif
				font-size 70%

