vfiVeryDarkGrey = #4a4d4e
vfiDarkGrey = #838586
vfiLightGrey = #c1c2c3



blockMe(backgroundColor)
	background-color backgroundColor
	.blockMe
		padding 40px 50px
		h2
			margin-bottom 30px
		.uk-panel
			background-color backgroundColor

	@media screen and (max-width: 660px)
		text-align center

