
#compareDevices
	background-color #d9d9d9

	#btn_compareClose
		visibility hidden

	#btn_compareDevices
		visibility visible

	.uk-table
		visibility hidden
		display none

	#comparePanel
		padding-left 0px
		button
			margin-top 30%

	img,.uk-panel-box
		margin-bottom 3px
		padding-bottom 0px

	#compareText
		h3
			margin-left 10px
			margin-top 10%
			font-size 210%
			color #007c92

	.uk-grid
		margin-left 0px
		.uk-panel
			background-color #d9d9d9

	tr
		font-size 80%
		line-height 13px


	&.compareBigMode
		.uk-table
			visibility visible
			display block
		#btn_compareClose
			visibility visible

		#btn_compareDevices
			visibility hidden

